@import "reset";

html {
  font-size: 1rem;
}
body {
  background: #eee;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
// temp
.temp-container {
  line-height: 4rem;
  * {
    text-align: center;
  }
}
// app
#app {
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  width: 60rem;
  background-color: #fff;
}

.site-header {
  margin-top: 1rem;
  // top navigation
  .nav-top {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  // site header
  .site-title {
    line-height: 2.8rem;
    font-size: 2rem;
    text-align: center;
  }
}

// cards
.cards {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
// card
.card-wrapper {
  position: relative;
  padding: 1.2rem;
  width: 18rem;
  height: 22rem;
  .card {
    height: 100%;
    border: 1px solid #aaa;
    box-shadow: 0 0.2rem 0.4rem #999;
    .card-header {
      border-bottom: 1px dotted #666;
      p {
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: center;
      }
    }
    .card-body {
    }
    .card-footer {
      .point {
        display: block;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.7rem;
        text-align: center;
        bottom: 2.5rem;
        border: 0;
        border-radius: 1.25rem;
        font-size: 1.5rem;
        color: white;
      }
      .point-attack {
        left: 2.5rem;
        background-color: red;
      }
      .point-defense {
        right: 2.5rem;
        background-color: blue;
      }
    }
  }
}

// game-info
.game-info {
  p {
    text-align: center;
  }
}